/*
0-360px:      Phone
360-600px:    Phablet
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
1200-1400px:  Laptop
1440-1800px:  is where normal styles apply
1800px +:     Big desktop
$breakpoint choices:
-phoneS
-phone
-pnoneL
-phablet
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 90em) {
    html {
      font-size: 50%; } }
  @media (max-width: 48.56em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #ffffff; }

@font-face {
  font-family: "playfair_displayregular";
  src: url("../fonts/playfair-display_pl.allfont.net_1oldstyle.woff2") format("woff2"), url("../fonts/playfair-display_pl.allfont.net_1oldstyle.woff") format("woff"), url("../fonts/playfair-display_pl.allfont.net_1oldstyle.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #343434; }

.link:link, .link:visited {
  font-family: "Open Sans", sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px; }

.progress__text {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #7F7F7F; }
  .progress__text--active {
    color: #000000; }

.header-secondary {
  font-size: 4.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #343434;
  margin-bottom: 3rem; }
  .header-secondary--contact {
    margin-bottom: 2.6rem; }
  @media (min-width: 112.5em) {
    .header-secondary {
      letter-spacing: 1px; } }

.header-tertiary {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.1rem;
  font-weight: 400;
  letter-spacing: 2px;
  color: #000000; }
  .header-tertiary--basket {
    margin-top: 5.4rem; }
  .header-tertiary--contact {
    text-transform: uppercase;
    letter-spacing: 1px; }
  .header-tertiary--number {
    font-size: 2.5rem; }
  .header-tertiary--tile {
    font-size: 3.1rem;
    letter-spacing: 2px;
    margin-top: 1.9rem; }
  .header-tertiary--phone {
    font-family: "playfair_displayregular"; }
  .header-tertiary--email {
    margin-top: 2.2rem; }

.item-parameters {
  font-size: 1.3rem;
  color: #5e5e5e; }
  .item-parameters__details--bold {
    font-weight: bold;
    font-size: 1.4rem;
    letter-spacing: 1px; }

.item-remove {
  color: #949494;
  text-decoration: none;
  transition: color 0.2s ease; }
  .item-remove:hover {
    color: #4C4C4C; }

.item-value {
  letter-spacing: 1px;
  color: #191919; }
  .item-value__size--text {
    margin-right: 0.6rem;
    margin-left: 0.2rem; }
  .item-value__size--size {
    font-weight: bold; }
  .item-value__price {
    font-family: "playfair_displayregular", sans-serif;
    font-size: 3rem; }
    .item-value__price--numbers {
      font-size: 3rem; }
    .item-value__price--currency {
      font-size: 2rem; }

.delivery {
  font-size: 1.7rem;
  text-transform: uppercase;
  color: #717171; }
  .delivery__right {
    font-size: 2rem;
    line-height: 0.7;
    color: #858585; }
  .delivery__price {
    font-family: "playfair_displayregular", sans-serif;
    font-size: 4rem;
    line-height: 0;
    margin-right: 0.5rem; }
  .delivery__currency {
    letter-spacing: 2px; }

.summary {
  text-transform: uppercase;
  font-size: 2.1rem;
  letter-spacing: 1px;
  color: #343434; }
  .summary__numbers {
    font-family: "playfair_displayregular";
    font-size: 7rem;
    letter-spacing: 0; }
  .summary__currency {
    font-size: 3.4rem;
    letter-spacing: 2px;
    margin-left: 1rem; }

.contact__info {
  font-size: 1.9rem;
  margin-top: 2.4rem;
  text-transform: uppercase; }
  .contact__info--phone {
    letter-spacing: 1px; }

.contact__tile--phone {
  font-family: "playfair_displayregular"; }

.quality__panel-text {
  font-size: 2.6rem;
  letter-spacing: 1px;
  margin-left: 2rem; }
  .quality__panel-text--4 {
    margin-left: 1.7rem; }
  .quality__panel-text--5 {
    margin-left: 3.2rem; }
  .quality__panel-text--6 {
    margin-left: 2.8rem; }
  .quality__panel-text--number {
    font-family: "playfair_displayregular"; }

.navigation-bottom {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 300; }

.nav__item--header {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600; }

.nav__link,
.nav__link:link,
.nav__link:visited {
  font-family: "Josefin Sans", sans-serif;
  color: #000000;
  text-decoration: none; }

.nav__link--header {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 600; }

.order__form {
  width: 51%;
  padding: 5.4rem 6.8rem;
  border-radius: 2px;
  transform: translate(-1rem, -2rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  background: #f8f8f8; }
  @media (max-width: 56.25em) {
    .order__form {
      width: 100%; } }

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
  position: relative; }
  .form__group--2 {
    margin-bottom: 3.4rem; }
  .form__group--3 {
    margin-bottom: 3.4rem; }
  .form__group--4 {
    margin-bottom: 3.4rem; }
  .form__group--5 {
    margin-bottom: 3.5rem; }
  .form__group--6 {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.9rem; }
  .form__group--7 {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem; }

.form__input {
  width: 47%;
  height: 3.9rem;
  font-size: 2.3rem;
  font-family: inherit;
  color: #4C4C4C;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 2px;
  border-bottom: 2px solid #7F7F7F; }
  .form__input--checkbox {
    width: 3rem;
    margin-left: 1px;
    cursor: pointer; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); }
  .form__input::-webkit-input-placeholder {
    color: #A5A5A5; }
  .form__input--address {
    width: 100%; }
  .form__input--code {
    width: 22%; }
  .form__input--city {
    width: 33%; }
  .form__input--country {
    width: 33%; }
  .form__input--phone {
    width: 29%; }
  .form__input--email {
    width: 65%; }
  .form__input--comment {
    width: 100%; }

.form__label {
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 3.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.7rem;
  color: #4C4C4C;
  transition: all 0.2s; }
  .form__label--surname {
    left: 54%; }
  .form__label--city {
    left: 29%; }
  .form__label--country {
    left: 67%; }
  .form__label--email {
    left: 36%; }
  .form__label--checkbox {
    font-family: "Open sans", sans-serif;
    letter-spacing: 1px;
    margin-left: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden; }

.contact {
  padding: 22.6rem 13.5rem 10rem 13.5rem; }
  .contact__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .contact__row--2 {
      justify-content: space-around;
      margin-top: 10.8rem; }
  .contact__help {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .contact__tile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%; }
    @media (max-width: 37.5em) {
      .contact__tile {
        width: 100%;
        margin-bottom: 9rem; } }
  .contact__icon {
    height: 3.4rem; }
    .contact__icon--email {
      height: 2.7rem; }

.header {
  width: 100%;
  height: 12.8rem;
  padding: 2.6rem 15.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__arrow {
    height: 2.4rem; }
  .header__link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 19.3rem; }
    .header__link-wrapper--right {
      display: flex;
      justify-content: flex-end; }
  .header__img {
    height: 7.4rem; }

.navigation-bottom {
  padding: 3rem 4rem; }
  .navigation-bottom .nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline; }
    .navigation-bottom .nav__list {
      flex-grow: 1;
      list-style-type: none; }
    .navigation-bottom .nav__link {
      text-transform: none; }
    .navigation-bottom .nav__item {
      padding: .5rem 0; }

.order {
  background-image: linear-gradient(#f8f8f8 -45%, #ffffff, #f8f8f8 127%);
  padding: 0rem 9.3rem 4rem 9.3rem; }
  .order__row {
    display: flex; }
    @media (max-width: 56.25em) {
      .order__row {
        flex-wrap: wrap; } }
  .order__basket {
    width: 55%;
    padding: 3.3rem 4.6rem;
    border-radius: 2px; }
    @media (max-width: 56.25em) {
      .order__basket {
        width: 100%; } }
  .order .features {
    display: flex; }
    .order .features__ring {
      margin-top: 8.6rem;
      display: flex;
      align-items: flex-end; }
    .order .features .ring-img {
      height: 13.7rem; }
    .order .features__right {
      font-family: "Open sans", sans-serif;
      font-size: 1.4rem;
      margin-left: 1rem;
      width: 76%; }
    .order .features__details-box {
      padding: 1.3rem 0.6rem 0.6rem 0.6rem;
      color: #000000;
      border-bottom: 2px solid #cccccc; }
    .order .features__details--2 {
      margin-left: 1.7rem; }
    .order .features__details--3 {
      margin-left: 1.6rem; }
    .order .features__details--4 {
      margin-left: 1.9rem; }
    .order .features__details--5 {
      margin-left: 1.6rem; }
    .order .features__details--6 {
      margin-left: 1.8rem; }
    .order .features__details--7 {
      margin-left: 1.8rem; }
    .order .features .item-header {
      padding-bottom: 1.4rem;
      border-bottom: 2px solid #e5e5e5; }
  .order .item-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0.3rem .3rem .3rem; }
    .order .item-description .item-parameters {
      display: flex;
      justify-content: space-between;
      width: 74%; }
      .order .item-description .item-parameters__details {
        min-width: 5.6rem;
        display: flex;
        justify-content: center; }
        .order .item-description .item-parameters__details--bold {
          justify-content: flex-start; }
        .order .item-description .item-parameters__details--1 {
          padding-right: 1rem; }
        .order .item-description .item-parameters__details--2 {
          padding-right: 2rem; }
        .order .item-description .item-parameters__details--3 {
          padding-right: 3rem; }
        .order .item-description .item-parameters__details--4 {
          padding-right: 2rem; }
        .order .item-description .item-parameters__details--6 {
          padding-right: 0.7rem; }
    .order .item-description .item-remove {
      display: flex;
      align-items: center; }
      .order .item-description .item-remove--text {
        margin-right: 1.2rem; }
      .order .item-description .item-remove--x {
        font-size: 1.7rem; }
  .order .item-value {
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  .order .delivery {
    display: flex;
    width: 98%;
    padding-bottom: 0.9rem;
    margin-top: 7.1rem;
    border-bottom: 2px solid #000000; }
    .order .delivery__left {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
    .order .delivery__cost {
      margin-right: 0.8rem; }
    .order .delivery__right {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
  .order .summary {
    display: flex;
    padding-right: .9rem;
    margin-top: 3.2rem; }
    .order .summary__left {
      width: 50%;
      display: flex;
      justify-content: flex-end; }
    .order .summary__text {
      margin-right: .5rem;
      display: flex;
      align-content: center; }
    .order .summary__right {
      width: 50%;
      display: flex;
      align-items: baseline;
      justify-content: flex-end; }
    .order .summary__currency {
      display: flex;
      align-items: flex-end; }

.progress {
  background-image: linear-gradient(#f8f8f8, #ffffff);
  max-width: 200rem;
  padding: 7rem 15.3rem 3.8rem 15.3rem; }
  .progress__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.9rem; }
    .progress__row--bottom {
      position: relative; }
      .progress__row--bottom .line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 86%;
        height: 1px;
        background-color: #cccccc;
        margin: 0 auto; }
        @media (max-width: 75em) {
          .progress__row--bottom .line {
            width: 82%; } }
        @media (max-width: 56.25em) {
          .progress__row--bottom .line {
            width: 75%; } }
        @media (max-width: 48.56em) {
          .progress__row--bottom .line {
            width: 79%; } }
  .progress__text--middle {
    text-align: center;
    width: 39rem;
    margin-left: 0.5rem; }
  .progress__circle-wrapper {
    width: 18.2rem;
    display: flex;
    justify-content: center; }
  .progress__circle {
    height: 2.3rem;
    position: relative;
    z-index: 1;
    background: #ffffff; }

.quality {
  padding: 7.4rem 15.3rem;
  background-image: linear-gradient(#ffffff 76%, #f8f8f8); }
  .quality__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 13.1rem;
    padding: 0 1.9rem 0 0.8rem;
    border-top: 1px solid #e5e5e5; }
    .quality__panel--2 {
      padding-left: 1.4rem; }
    .quality__panel--4 {
      padding-left: .2rem; }
    .quality__panel--5 {
      padding-left: 1.4rem; }
    .quality__panel--6 {
      padding-left: 1.5rem; }
    .quality__panel:last-child {
      border-bottom: 1px solid #e5e5e5; }
    .quality__panel-icon {
      display: flex;
      align-items: center; }
    .quality__panel-img {
      height: 6rem; }
      .quality__panel-img--clock {
        height: 6.5rem; }
      .quality__panel-img--callendar {
        height: 5.1rem; }
      .quality__panel-img--corection {
        height: 7.3rem; }
      .quality__panel-img--bag {
        height: 6.2rem; }
      .quality__panel-img--cert {
        height: 6.4rem; }
    .quality__panel-arrow {
      height: 1rem; }
