/*
0-360px:      Phone
360-600px:    Phablet
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
1200-1400px:  Laptop
1440-1800px:  is where normal styles apply
1800px +:     Big desktop
$breakpoint choices:
-phoneS
-phone
-pnoneL
-phablet
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 90em) {
    html {
      font-size: 50%; } }
  @media (max-width: 48.56em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #ffffff; }

body {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #343434; }

.link:link, .link:visited {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px; }

.progress__text {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #7F7F7F; }
  .progress__text--active {
    color: #000000; }

.header-secondary {
  font-size: 4.1rem;
  letter-spacing: 2px;
  color: #343434;
  margin-bottom: 3rem; }

.header-tertiary {
  font-family: "Playfair Display", sans-serif;
  font-size: 2.1rem;
  letter-spacing: 2px;
  color: #000000; }
  .header-tertiary--basket {
    margin-top: 5.4rem; }

.order__form {
  width: 51%;
  padding: 5.4rem 6.8rem;
  border-radius: 2px;
  transform: translate(-1rem, -2rem);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
  background: #f8f8f8; }

.form__group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
  position: relative; }
  .form__group--2 {
    margin-bottom: 3.4rem; }
  .form__group--3 {
    margin-bottom: 3.4rem; }
  .form__group--4 {
    margin-bottom: 3.4rem; }
  .form__group--5 {
    margin-bottom: 3.5rem; }
  .form__group--6 {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .9rem; }
  .form__group--7 {
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem; }

.form__input {
  width: 47%;
  height: 3.9rem;
  font-size: 2.3rem;
  font-family: inherit;
  color: #4C4C4C;
  background-color: #f8f8f8;
  border: 1px solid transparent;
  border-radius: 2px;
  border-bottom: 2px solid #7F7F7F; }
  .form__input--checkbox {
    width: 3rem;
    margin-left: 1px;
    cursor: pointer; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 0.3rem 0.6rem rgba(0, 0, 0, 0.2); }
  .form__input::-webkit-input-placeholder {
    color: #A5A5A5; }
  .form__input--address {
    width: 100%; }
  .form__input--code {
    width: 22%; }
  .form__input--city {
    width: 33%; }
  .form__input--country {
    width: 33%; }
  .form__input--phone {
    width: 29%; }
  .form__input--email {
    width: 65%; }
  .form__input--comment {
    width: 100%; }

.form__label {
  display: block;
  position: absolute;
  left: 0.5rem;
  top: 3.4rem;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: .7rem;
  color: #4C4C4C;
  transition: all .2s; }
  .form__label--surname {
    left: 54%; }
  .form__label--city {
    left: 29%; }
  .form__label--country {
    left: 67%; }
  .form__label--email {
    left: 36%; }
  .form__label--checkbox {
    font-family: 'Open sans', sans-serif;
    letter-spacing: 1px;
    margin-left: 0.6rem;
    font-size: 1.3rem;
    cursor: pointer; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden; }

.header {
  width: 100%;
  height: 12.8rem;
  padding: 2.6rem 15.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__arrow {
    height: 2.4rem; }
  .header__link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 19.3rem; }
    .header__link-wrapper--right {
      display: flex;
      justify-content: flex-end; }
  .header__img {
    height: 7.4rem; }

.order {
  background-image: linear-gradient(#f8f8f8, #ffffff, #f8f8f8);
  padding: 0rem 9.3rem 4rem 9.3rem; }
  .order__row {
    display: flex; }
  .order__basket {
    width: 55%;
    padding: 3.3rem 4.6rem;
    border-radius: 2px; }
  .order .features {
    display: flex; }
    .order .features .ring-img {
      height: 13.7rem; }
    .order .features__right {
      font-family: "Open sans", sans-serif;
      font-size: 1.4rem;
      margin-left: 1rem;
      width: 76%; }
    .order .features__details-box {
      padding: 1.3rem 0.6rem 0.6rem 0.6rem;
      color: #000000;
      border-bottom: 2px solid #cccccc; }
    .order .features__details:not(:first-child) {
      margin-left: 1.6rem; }
    .order .features .item-header {
      padding-bottom: 1.4rem;
      border-bottom: 2px solid black; }

.progress {
  background-image: linear-gradient(#f8f8f8, #ffffff);
  max-width: 200rem;
  padding: 7rem 15.3rem 3.8rem 15.3rem; }
  .progress__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.9rem; }
    .progress__row--bottom {
      position: relative; }
      .progress__row--bottom .line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 86%;
        height: 1px;
        background-color: #cccccc;
        margin: 0 auto; }
        @media (max-width: 75em) {
          .progress__row--bottom .line {
            width: 82%; } }
        @media (max-width: 56.25em) {
          .progress__row--bottom .line {
            width: 75%; } }
        @media (max-width: 48.56em) {
          .progress__row--bottom .line {
            width: 79%; } }
  .progress__text--middle {
    text-align: center;
    width: 39rem;
    margin-left: 0.5rem; }
  .progress__circle-wrapper {
    width: 18.2rem;
    display: flex;
    justify-content: center; }
  .progress__circle {
    height: 2.3rem;
    position: relative;
    z-index: 1;
    background: #ffffff; }
