/*
0-360px:      Phone
360-600px:    Phablet
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
1200-1400px:  Laptop
1440-1800px:  is where normal styles apply
1800px +:     Big desktop
$breakpoint choices:
-phoneS
-phone
-pnoneL
-phablet
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 90em) {
    html {
      font-size: 50%; } }
  @media (max-width: 48.56em) {
    html {
      font-size: 37.5%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #ffffff; }

body {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: 1.4rem; }

.link:link, .link:visited {
  font-family: 'Open Sans', sans-serif;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px; }

.progress__text {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #7F7F7F; }
  .progress__text--active {
    color: #000000; }

.header {
  width: 100%;
  height: 12.8rem;
  padding: 2.6rem 15.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header__arrow {
    height: 2.4rem; }
    @media (min-width: 112.5em) {
      .header__arrow {
        height: unset; } }
  .header__link-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 19.3rem; }
    .header__link-wrapper--right {
      display: flex;
      justify-content: flex-end; }
  .header__img {
    height: 7.4rem; }
    @media (min-width: 112.5em) {
      .header__img {
        height: unset; } }

.progress {
  background-image: linear-gradient(#f8f8f8, #ffffff);
  max-width: 200rem;
  padding: 7rem 15.3rem; }
  .progress__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.9rem; }
    .progress__row--bottom {
      position: relative; }
      .progress__row--bottom .line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 86%;
        height: 1px;
        background-color: #cccccc;
        margin: 0 auto; }
        @media (max-width: 75em) {
          .progress__row--bottom .line {
            width: 82%; } }
        @media (max-width: 56.25em) {
          .progress__row--bottom .line {
            width: 75%; } }
        @media (max-width: 48.56em) {
          .progress__row--bottom .line {
            width: 79%; } }
  .progress__text--middle {
    text-align: center;
    width: 39rem;
    margin-left: 0.5rem; }
  .progress__circle-wrapper {
    width: 18.2rem;
    display: flex;
    justify-content: center; }
  .progress__circle {
    height: 2.3rem;
    position: relative;
    z-index: 1;
    background: #ffffff; }
