// MEDIA QUERY MENAGER
/*
0-360px:      Phone
360-600px:    Phablet
600-900px:    Tablet portrait
900-1200px:   Tablet landscape
1200-1400px:  Laptop
1440-1800px:  is where normal styles apply
1800px +:     Big desktop
$breakpoint choices:
-phoneS
-phone
-pnoneL
-phablet
-tab-port
-tab-land
-big-desktop

1em = 16px
*/

@mixin respond($breakpoint) {

  @if $breakpoint == phoneS {
    @media (max-width: 20em) { @content };       //320px
  }

  @if $breakpoint == phone {
    @media (max-width: 23.4em) { @content };      //375px
  }

  @if $breakpoint == phoneL {
    @media (max-width: 26.6em) { @content };      //425px
  }

  @if $breakpoint == phablet {
    @media (max-width: 37.5em) { @content };      //600px
  }

  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };     //900px
  }

  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };        //1200px
  }

  @if $breakpoint == laptop {
    @media (max-width: 90em) { @content };        //1440px
  }

  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };    //1800px
  }
}

@mixin absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}