//COLORS
$color-white: #fff;

$color-light-gray: #f8f8f8;
$color-light-gray-2: #A5A5A5;

$color-dark-gray: #7F7F7F;
$color-dark-gray-2: #4C4C4C;
$color-dark-gray-3: #343434;

$color-black: #000;

//FONTS
$default-font-size: 1.4rem;

//MARGINS
$margin-big: 16rem;
$margin-medium: 12rem;
$margin-small: 8rem;