//COLORS
$color-white: #ffffff;

$color-light-gray: #f8f8f8;
$color-light-gray-1: #e5e5e5;
$color-light-gray-2: #cccccc;
$color-light-gray-3: #A5A5A5;

$color-medium-gray: #949494;
$color-medium-gray-1: #858585;
$color-medium-gray-2: #717171;

$color-dark-gray: #7F7F7F;
$color-dark-gray-1: #5e5e5e;
$color-dark-gray-2: #4C4C4C;
$color-dark-gray-3: #343434;
$color-dark-gray-4: #191919;

$color-black: #000000;

$color-light-blue: #c2d4f4;

//FONTS
$default-font-size: 1.4rem;

//MARGINS
$margin-big: 16rem;
$margin-medium: 12rem;
$margin-small: 8rem;