.header {
    width: 100%;
    height: 12.8rem;
    padding: 2.6rem 15.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__arrow {
        height: 2.4rem;

        @include respond(big-desktop) {
            height: unset;
          }
    }
    

    &__link-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 19.3rem;

        &--right {
            display: flex;
            justify-content: flex-end;
        }
    }

    &__img {
        height: 7.4rem;
        @include respond(big-desktop) {
            height: unset;
          }
    }
}

@include respond(phablet) {
    .header {
        padding: 2rem 1rem;
    }
}