.navigation {
    padding: 3rem 4rem;

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        &__list {
            flex-grow: 1;
            list-style-type: none;
        }

        &__link {
            text-transform: none;
        }

        &__item {
            padding: 1rem 0;
        }
    }


}