.navigation-bottom {
  padding: 11rem 16rem 0 16rem;
  background-image: linear-gradient($color-light-gray, $color-white);

  &__row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem 0;
    width: 100%;

    &--2 {
        margin-bottom: 6rem;

        @include respond(phablet) {
          margin-bottom: 2rem;
        }
    }
  }

  &__img {
    &--5 {
      height: 6rem;
    }

    &--6 {
      height: 4.8rem;
    }

    &--7 {
      height: 2.1rem;
    }

    &--8 {
      height: 2.5rem;
    }

    @include respond(phablet){
      height: 20px;
    }
  }

  @include respond(phablet) {
    padding: 4rem;

    &__img {
      height: 45px;

      &--7, &--8 {
        height: 10px;
      }
    }
  }

  @include respond(phoneL) {
    &__img {
      height: 35px;

      &--7, &--8 {
        height: 10px;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;

    &__list {
      width: 25%;
      list-style-type: none;
      padding: 0 2rem 0 2rem;
    }

    &__link {
      text-transform: none;
    }

    &__item {
      padding-bottom: 1.2rem;

      &--header {
        padding-bottom: 1.3rem;
      }
    }
  }

  .scroll-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    &__img {
        height: 4.2rem;
    }

    @include respond(phablet) {
      margin-top: 0;
    }
  }
}
