.navigation-bottom {
    padding: 3rem 18rem;

    .nav {
        display: flex;
        justify-content: space-around;
        align-items: baseline;

        &__list {
            width: 25%;
            list-style-type: none;
        }

        &__link {
            text-transform: none;
        }

        &__item {
            padding-bottom: 1.2rem;

            &--header {
                padding-bottom: 1.3rem;
            }
        }
    }


}