.order {
  background-image: linear-gradient(
    $color-light-gray -45%,
    $color-white,
    $color-light-gray 127%
  );
  padding: 0rem 9.3rem 4rem 9.3rem;

  &__row {
    display: flex;

    @include respond(tab-port) {
      flex-wrap: wrap;
    }
  }

  &__basket {
    width: 55%;
    padding: 3.3rem 4.6rem;
    border-radius: 2px;

    @include respond(tab-port) {
      width: 100%;
    }

    @include respond(phablet) {
      padding: 1rem;
    }
  }

  .features {
    display: flex;

    &__ring {
      margin-top: 8.6rem;
      display: flex;
      align-items: flex-end;
    }

    .ring-img {
      height: 13.7rem;
    }

    &__right {
      font-family: "Open sans", sans-serif;
      font-size: 1.4rem;
      margin-left: 1rem;
      width: 76%;
    }

    &__details-box {
      padding: 1.3rem 0.6rem 0.6rem 0.6rem;
      color: $color-black;
      border-bottom: 2px solid $color-light-gray-2;
    }

    &__details {
      &--2 {
        margin-left: 1.7rem;
      }

      &--3 {
        margin-left: 1.6rem;
      }

      &--4 {
        margin-left: 1.9rem;
      }

      &--5 {
        margin-left: 1.6rem;
      }

      &--6 {
        margin-left: 1.8rem;
      }

      &--7 {
        margin-left: 1.8rem;
      }
    }

    .item-header {
      padding-bottom: 1.4rem;
      border-bottom: 2px solid $color-light-gray-1;
    }
  }

  .item-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0.3rem .3rem .3rem;

    .item-parameters {
      display: flex;
      justify-content: space-between;
      width: 74%;

      &__details {
        min-width: 5.6rem;
        display: flex;
        justify-content: center;

        &--bold {
          justify-content: flex-start;
        }

        &--1 {
          padding-right: 1rem;
        }

        &--2 {
          padding-right: 2rem;
        }

        &--3 {
          padding-right: 3rem;
        }

        &--4 {
          padding-right: 2rem;
        }

        &--6 {
          padding-right: 0.7rem;
        }
      }
    }

    .item-remove {
      display: flex;
      align-items: center;
      &--text {
        margin-right: 1.2rem;
      }

      &--x {
        font-size: 1.7rem;
      }
    }
  }

  .item-value {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .delivery {
    display: flex;
    width: 98%;
    padding-bottom: 0.9rem;
    margin-top: 7.1rem;
    border-bottom: 2px solid $color-black;
    &__left {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    &__cost {
      margin-right: 0.8rem;
    }

    &__right {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .summary {
    display: flex;
    padding-right: .9rem;
    margin-top: 3.2rem;

    &__left {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }

    &__text {
      margin-right: .5rem;
      display: flex;
      align-items: center;
    }

    &__right {
      width: 50%;
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
    }

    &__currency {
      display: flex;
      align-items: flex-end;
    }
  }

  @include respond(phablet) {
    padding: 0rem 1rem 1rem 1rem;
  }
}
