.order {
  background-image: linear-gradient(
    $color-light-gray,
    $color-white,
    $color-light-gray
  );
  padding: 0rem 9.3rem 4rem 9.3rem;

  &__row {
    display: flex;
  }

  &__basket {
    width: 55%;
    padding: 3.3rem 4.6rem;
    border-radius: 2px;
  }

  .features {
    display: flex;

    &__ring {
      display: flex;
      align-items: flex-end;
    }

    .ring-img {
      height: 13.7rem;
    }

    &__right {
      font-family: "Open sans", sans-serif;
      font-size: 1.4rem;
      margin-left: 1rem;
      width: 76%;
    }

    &__details-box {
      padding: 1.3rem 0.6rem 0.6rem 0.6rem;
      color: $color-black;
      border-bottom: 2px solid $color-light-gray-2;
    }

    &__details:not(:first-child) {
      margin-left: 1.6rem;
    }

    .item-header {
      padding-bottom: 1.4rem;
      border-bottom: 2px solid $color-light-gray-1;
    }
  }
}
