.quality {
  padding: 6.7rem 15rem;

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 12.5rem;
    padding: 0 1.9rem 0 0.4rem;
    border-top: 1px solid $color-light-gray-1;

    &--2 {
      padding-left: 1rem;
    }

    &:last-child {
      border-bottom: 1px solid $color-light-gray-1;
    }

    &-icon {
      display: flex;
      align-items: center;
    }

    &-img {
      height: 5.5rem;

      &--clock {
        height: 6.2rem;
      }
    }

    &-arrow {
      height: 1rem;
    }
  }
}