.quality {
  padding: 7.4rem 15.3rem 20rem 15.3rem;
  background-image: linear-gradient(
    $color-white 76%,
    $color-light-gray
  );

  &__panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    min-height: 13.1rem;
    padding: 0 1.9rem 0 0.8rem;
    border-top: 1px solid $color-light-gray-1;

    &--2 {
      padding-left: 1.4rem;
    }

    &--4 {
      padding-left: .2rem;
    }

    &--5 {
      padding-left: 1.4rem;
    }

    &--6 {
      padding-left: 1.5rem;
    }

    &:last-child {
      border-bottom: 1px solid $color-light-gray-1;
    }

    &-icon {
      display: flex;
      align-items: center;
    }

    &-img {
      height: 6rem;

      &--clock {
        height: 6.5rem;
      }

      &--callendar {
        height: 5.1rem;
      }

      &--corection {
        height: 7.3rem;
      }

      &--bag {
        height: 6.2rem;
      }

      &--cert {
        height: 6.4rem;
      }
    }

    &-arrow {
      height: 1rem;
    }
  }
}