.order {
    height: 100vh;
    padding: 0rem 9.3rem;
    
    &__row {
        display: flex;
    }

    &__basket {
        width: 55%;
        padding: 3.4rem 6.2rem;
        border-radius: 2px;
    }
}