.order {
  background-image: linear-gradient(
    $color-light-gray,
    $color-white,
    $color-light-gray
  );
  padding: 0rem 9.3rem 4rem 9.3rem;

  &__row {
    display: flex;
  }

  &__basket {
    width: 55%;
    padding: 3.3rem 4.6rem;
    border-radius: 2px;
  }

  .features {
    display: flex;

    .ring-img {
      height: 13.7rem;
    }

    &__right {
        font-family: 'Open sans', sans-serif;
        margin-left: 1rem;
        width: 76%;

        .features__details {
            padding: 1.2rem .6rem 0.8rem .6rem;
            border-bottom: 2px solid $color-dark-gray;
        }
    }

    
  }
}
