.progress {
  max-width: 200rem;
  padding: 7rem 15.3rem;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.9rem;

    &--bottom {
      position: relative;

      .line {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 86%;
        height: 0;
        border-top: 1px solid black;
        margin: 0 auto;

        @include respond(tab-land) {
            width: 82%;
        }

        @include respond(tab-port) {
            width: 75%;
        }

        @include respond(tab-small) {
            width: 79%;
        }
      }
    }
  }

  &__text--middle {
    text-align: center;
    width: 39rem;
    margin-left: 0.5rem;
  }

  &__circle-wrapper {
    width: 18.2rem;
    display: flex;
    justify-content: center;
  }

  &__circle {
    height: 2.3rem;
    position: relative;
    z-index: 1;
    background: $color-white;
  }
}
