.order__form {
    width: 49%;
    height: 100vh;
    padding: 3.4rem 6.2rem;
    border-radius: 2px;
}

.form {
    &__group {
        display: flex;
        justify-content: space-between;
    }

    &__input {
        width: 47%;
        height: 3.9rem;
        font-size: 2.2rem;
        font-family: inherit;
        background-color: $color-white;
        border: 1px solid transparent;
        border-bottom: 2px solid $color-dark-gray;
    }

    &__label {
        display: none;
    }
}