*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px;   10px/16px = 62.5%

  @include respond(laptop) {
    font-size: 50%; //1rem = 8px
  }

  @include respond(tab-small) {
    font-size: 37.5%; //1rem = 6px
  }

  @include respond(full-hd) {
    font-size: 75%; //1rem = 12px
  }

  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: $color-white;
}