body {
  font-family: "Playfair Display", sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
}

.link {
  &:link,
  &:visited {
      font-family: 'Open Sans', sans-serif;
    color: $color-black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 4px;
  }
}

.progress__text {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
}
